<%- include('../partials/header.ejs') %>

    <div class="container">
        <h2><%= expense.name %></h2>
        <h3><%= expense.category %></h3>
        <h3>$<%= expense.amount %></h3>
        <h3><%= formattedExpense.date %></h3>
    </div>

<%- include('../partials/footer.ejs') %>
